h1 {

    margin-bottom: 15px;
    font-family: sans-serif;
  }
  
  p {
  
    margin-bottom: 15px;
    margin-top: 15px;
    font-family: sans-serif;
  }
   thead th {
  
  
     font-family: sans-serif;
  } 
  
  table {
    margin-top: 5%;
    margin: auto; 
    text-align: center; 
    border: medium rgb(224, 232, 230); 
    border-collapse: collapse; 
    width: 50%; 
   
} 
  td { 
    font-family: sans-serif;
     border: thin solid #dbd7d7; 
     width: 50%; padding: 5px; 
     text-align: center;  
    
     }
   
   th {
   background-color: gainsboro;
   font-family: sans-serif;
  } 
  caption { 
    font-family: sans-serif; 
}